*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/pic1.jpg); */
    background-color: black;

}
.main-card{
    width: 36rem;
    /* border: 1px solid black; */
    height: 40rem;
    border-radius: 59px;
    object-fit: cover;
    background-size: cover;
    position: relative;

  
}
.card1{
    width: 36rem;
    border: 1px solid black;
    height: 16rem;
    border-radius: 49px;
    position: relative;
    background-color:rgb(196, 224, 232);


}

.card1 input{
    width: 65%;
    height: 3vh;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    padding: 2px 10px;
}
.card1 button{
    margin-left: 1px;
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(61, 32, 148);
    color: white;
    

}
.card2{
    margin-top: 15px;
    width: 36rem;
    height: 22rem;
    /* background-color: bisque; */
    border: 1px solid black;
    border-radius: 49px;
    /* background-image: url(../images/pic2.jpg); */
    position: relative;


}
.card3{
    width: 31rem;
    height: 40rem;
    /* background-color: bisque; */
    border: 1px solid black;
    border-radius: 58px;
    position: absolute;
    top: 0;
    right: 0;
    
  

}
#details{
   text-align: center;
   font-size: 30px;
   margin-top: 10px;
   color: maroon;
}
/* #timer{
    text-align: start;
    margin-left: 20px; */

#city-nam{
    margin-right: 20px;
}
.main-head{
    width: 100%;
    position: absolute;
    top: 18%;
    text-align: center;
    /* background-color: aquamarine; */

}
.city-name{
    position: absolute;
    top: 40%;
    left: 26%;
    width: 40%;
    padding-left: 20px;

}

.invalid{
    position: absolute;
    top: 59%;
    left: 30%;
    color: rgb(55, 21, 21);
    font-size: 25px;

}
.temp{
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp h1{
    font-size: 40px;
}
.Weather-detail{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 100%;
    /* text-align: center; */
    

    
}
.Weather-detail h4{
    margin-bottom: 15px;
}

#Weather-des1{
    margin-left: 148px;
    

}
#Weather-des2{
    margin-left: 140px;
    

}
#Weather-des3{
    margin-left: 167px;
    

}
#Weather-des4{
    margin-left: 148px;
    

}

#temp-icon{
   width: 95px;
   margin-top: 12px;
   

    
}
.date{
    /* margin-left: 100px; */
    text-align: center;
    font-size: 18px;
   
}

.head{
    margin-top: 35px;
}